<launch>
    <arg name="config_path" default = "$(find vins)/../config/vi_car/vi_car.yaml" />
    <arg name="bagfile" default="$(find vins)/../../../bagfile/car.bag"/>
    <!-- <param name="/use_sim_time" value="true"/> -->

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config.rviz" />
    <node name="vins_estimator" pkg="vins" type="vins_node" args="$(arg config_path) " output="screen" />
    <node name="loop_fusion" pkg="loop_fusion" type="loop_fusion_node" args="$(arg config_path) " output="screen" />
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="- -clock $(arg bagfile)"/> -->
</launch>


