<launch>
    <arg name="config_path" default = "$(find vins)/../config/kitti_raw/kitti_10_03_config.yaml" />

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/test.rviz" />
    <node name="vins_estimator" pkg="vins" type="kitti_gps_test" args="$(arg config_path) $(find vins)/../../../bagfile/kitti/2011_09_26_drive_0096_sync" output="screen" />
    <node name="global_fusion" pkg="global_fusion" type="global_fusion_node" args="$(arg config_path) " output="screen" />
</launch>

